extends ../layout/no-header

block variables
  - var pageTitle = 'Page page.pug'
  - var youAreUsingPug = false
  - var foo = true
  - var bar

block content
  h1.title Pug - node template engine
  #container.col
    if youAreUsingPug
      p You are amazing
    else
      p(class="p_class") Get on it!
    p.
      Pug is a terse and simple templating language with a strong focus on perfomance and powerful features.
  .another_div.
    some test $foo
  .second_div
